@model IEnumerable<AquiOuAcola.Entidades.Curso>

@{
    ViewData["Title"] = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="main">
                <div>
                    <img src="~/src/AquiOuAcola.png" style="width: 200px; height:100px; max-width: 100%" />
                </div>

                <div id="buscador">
                    <form action="/Cursos/Index" method="get">
                        <div class="form-group" id="buscar">
                            <i class="bi bi-search"></i>
                            <input type="search" name="query" placeholder="Buscar um curso..." size="100" maxlength="100">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <form action="/Cursos/Index" method="get">
                Filtros
                <hr />

                <div>
                    <label class="control-label">Gratuito</label><br />
                    <input class="form-check-input" type="checkbox" name="query" value="Gratuito" /> Sim
                    <br />
                    <input class="form-check-input" type="checkbox" name="query" value="Pago" /> Não
                </div>

                <hr />

                <div>
                    <label class="control-label">Nível</label><br />
                    <input class="form-check-input" type="checkbox" name="query" value="Iniciante" /> Iniciante<br />
                    <input class="form-check-input"  type="checkbox" name="query" value="Intermediário" /> Intermediário<br />
                    <input class="form-check-input"  type="checkbox" name="query" value="Avançado" /> Avançado
                </div>

                <hr />

                <button type="submit" class="btn btn-info">Filtrar</button>
            </form>
        </div>
        <div class="col-md-7">
            @foreach (var item in Model)
            {
                <div class="d-flex" id="resultadoBusca">
                    <div id="resultadoFoto">
                        <img src="~/Imagens/@item.foto" width="200" height="200" />
                    </div>
                    <div id="resultadoConteudo">
                        <h5>@item.nome</h5>
                        Adicionado por <a>Gabriel Oliveira</a>
                        <br /><br />

                        <div class="d-flex justify-content-between">
                            <div>
                                @item.gratuito
                            </div>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Saber mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
