@{
    ViewData["Title"] = "Configurações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="confClass">
        Outros
    </div>
    <div class="confClass">
        Editar Informações
    </div>
</div>


<div>
    <div class="confClass">
        Mudar Senha
    </div>
    <div class="confClass">
        Excluir Conta
    </div>
</div>
